.team {
  background-color: var(--item-color);
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-list li + li {
  margin-left: 30px;
}
.team-card {
  background-color: var(--title-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
}
.team-card img {
  display: block;
}
.team-card h3 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-card p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 15px;
}
.team-text {
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-list {
  display: flex;
  padding-left: 30px;
}
.social-list li + li {
  margin-left: 10px;
}
